# PyTorch 官方提供的 CUDA 12.6 專用套件來源
--extra-index-url https://download.pytorch.org/whl/cu126

# PyTorch 相關套件（會從 PyTorch 的源下載）
torch
torchvision
torchaudio

# 其他套件會從預設的 PyPI 安裝（例如 mediapipe）
mediapipe==0.10.9
pandas==2.2.3
requests==2.32.3
beautifulsoup4==4.13.4
selenium==4.33.0
flask==3.1.1
streamlit==1.45.1
flask_socketio==5.5.1
flask_cors==6.0.0
numpy==2.2.6
opencv_contrib_python==4.11.0.86